.playlist{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3px;
}

.playlist:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.topPlaylistImage{
    width: 70%;
    height: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.topPlaylistDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    width:70%;
}

#topPlaylists{
    width:90vw;
    height:40vh;
    margin-bottom: 70px;
}

.playlists{
    display: flex;
    width: 80vw;
    gap: 10px;
    column-gap: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.topPlaylistsHead{
    color:white;
    margin-bottom: 30px;
}
.topPlaylistName{
    align-self: flex-start;
    margin-left: 5px;
}
.topPlaylistGenre{
    align-self: flex-end;
    font-size: 12px;
    color: rgb(63, 63, 63);
    margin-top: auto;
}
.topPlaylistLikes{
    align-self: flex-end;
    font-size: 12px;
    color: rgb(63, 63, 63);
}
