.addToPlaylistButton{
    background-color: transparent;
    border: solid 0px white;
    color: white;
    font-size: 20px;
}

.addToPlaylistButton:hover{
    transform: scale(1.3);
}

.addToPlaylistButton:active{
    border: solid 0px white;
}