.artist{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3px;
    margin-right: 10px;
}

.artist:hover{
    transform: scale(1.01);
    cursor: pointer;
}

.artistImage{
    width: 70%;
    height: 90%;
    align-self: center;
    margin-left: 5px;
}



#topArtists{
    width:90vw;
    height:40vh;
    margin-bottom: 70px;
}

.topArtistsHead{
    color:white;
    margin-bottom: 30px;
}
.artistName{
    align-self: flex-start;
    width:90%;
}

.artistLikes{
    align-self: flex-end;
    font-size: 12px;
    color: rgb(63, 63, 63);
    width: 70%;
    text-align: right;
}

.artistDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    width:70%;
}
