.artist{
    display: flex;
    background-color: rgb(17, 17, 17);
    color: white;
    box-shadow: 0px 0px 2px rgb(143, 143, 143);
    padding: 3px;
    width:40%;
    height: 100px;
}

.artist:hover{
    transform: scale(1.01);
}

.artistImage{
    width: 35%;
    height: 90%;
    align-self: center;
    margin-left: 5px;
}



#topArtists{
    width:60vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 5x;
    padding: 10px;
}

.artists{
    display: flex;
    gap: 10px;
    column-gap: 30px;
    /* justify-content: space-around; */
    align-items: center;
    flex-wrap: wrap;
}

.topArtistsHead{
    color:white;
    margin-bottom: 10px;
}
.artistName{
    align-self: flex-start;
    margin-left: 10px;
    width:90%;
}

.artistLikes{
    align-self: flex-end;
    font-size: 12px;
    color: rgb(63, 63, 63);
    width: 70%;
    text-align: right;
    margin-right: 5px;
}
