#HeaderDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.pageTitle{
    color: white;
    margin-left: 20px;
}

#navBar{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 20px;
}

.dropdown{
    display: inline;
}