::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.VideoPage{
    display: flex;

}

.queue{
    height: 80vh;
    width: 35vw;
    overflow-y: auto;
    margin-top: 20px;
    
}

.Video{
    width: 60vw;
    color: white;
    padding: 20px
}

.player{
    width: 100%;
    margin-bottom: 20px;
}

.songInPlaylist{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.songInPlaylist:hover{
    background-color: rgb(37, 37, 37);
}

.displayedSongDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-self: flex-end;
    color: grey;
}

.displayedSongName{
    color: white;
}

.songName{
    font-size: 23px;
}

.playedSongLength{
    font-size: 12px;
    margin-left: 20px;
    color: rgb(160, 159, 159);
}

.playnigSongDetails{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.songArtist{
    font-size: 12px;
    color: grey;
}

.songAlbum{
    font-size: 12px;
    margin-left: 20px;
    color: rgb(160, 159, 159);
}

.likesDiv{
    align-self: flex-end;
    font-size: 15px;
}

.displayedSongImage{
    height: 40px; 
    width: 40px;
}

.displayedSongLength{
    color: grey;
}

.displayedSongArtist,.displayedSongAlbum{
    font-size: 13px;
}



