#feed{
    display: flex;
    /* justify-content: space-around; */
    gap:100px;
    padding:40px
}

#rightSection{
    display: flex;
    flex-direction: column;
    width: 40vw;
    /* justify-content: space-around; */
    gap: 20px;

}